.calculatrice {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* .calculatrice form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.calculatrice .row {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.calculatrice .button{
    height: 25px;
    width: 50px;
    border: none;
    border-radius: 5px;
}

.calculatrice .subButton {
    background-color: black;

}

.calculatrice .primButton {
    background-color: gray;
}

.calculatrice .validButton {
    background-color: rgb(87, 87, 0);
    
} */

.calculatrice form input {
	color: black;
}
